body {
    font-size: 10px;
    background: rgb(189, 224, 241);
}

a {
    text-decoration: none;
}

.logo-text {
    background: white;

    font-size: 37px;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    text-align: center;
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

.thumbnail-item {
    display: block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, .8);
}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

.thumbnail-image {
    width: 100%;
}

.thumbnail-title {
    font-size: 18px;
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: rgb(45, 61, 68);
    color: rgb(184, 239, 243);
}
